<footer>
		<nav>
			<div class="tabbar">
			  <label class="tabbar__item">
			    <input type="radio" name="tabbar-a" checked="checked">
			    <button class="tabbar__button">
			      <i class="tabbar__icon icon_flyer"></i>
			      <div class="tabbar__label">チラシ</div>
			    </button>
			  </label>

			  <label class="tabbar__item">
			    <input type="radio" name="tabbar-a">
			    <button class="tabbar__button">
			      <i class="tabbar__icon icon_post"></i>
			      <div class="tabbar__label">ポスト</div>
			    </button>
			  </label>

			  <label class="tabbar__item">
			    <input type="radio" name="tabbar-a">
			    <button class="tabbar__button">
			      <i class="tabbar__icon icon_coin"></i>
			      <div class="tabbar__label">コイン</div>
			    </button>
			  </label>

				<label class="tabbar__item">
			    <input type="radio" name="tabbar-a">
			    <button class="tabbar__button">
			      <i class="tabbar__icon icon_setting"></i>
			      <div class="tabbar__label">設定</div>
			    </button>
			  </label>
			</div>
		</nav>
	</footer>
