<!--ポスト画面-->
<div id="wrapper">
  <div class="toolbar">
    <div class="toolbar__center">ポスト</div>
  </div>
  <div>興味のあるトピック</div>
  <button class="button button--outline">ランチ</button>
  <button class="button button--outline">美容院</button>
  <button class="button button--outline">クーポン</button>
  <%= render partial: "footer" %>
</div>
