<!--詳細画面-->
<div id="wrapper">

  <button class="button button--outline">いいね！</button>
  <%= image_tag @ad.image.url(:thumb) %>
  <%= @ad.client.name %>
  <%= @ad.title %>
  <%= render partial: "footer" %>

</div>
