<footer>
		<nav>
			<div class="tabbar">
			  <label class="tabbar__item" onClick="location.href='<%= client_ads_path %>'">
			    <input type="radio" name="tabbar-a" checked="checked">
			    <button class="tabbar__button">
			      <i class="tabbar__icon icon_flyer"></i>
			      <div class="tabbar__label">チラシ</div>
			    </button>
			  </label>

				<label class="tabbar__item" onClick="location.href='<%= setting_client_ads_path %>'">
					<input type="radio" name="tabbar-a">
					<button class="tabbar__button">
						<i class="tabbar__icon icon_setting"></i>
						<div class="tabbar__label">設定</div>
					</button>
				</label>
			</div>
		</nav>
	</footer>
