<div id="wrapper">

<p class="top_btn"><a href="#">新規登録</a></p>
<p class="top_btn"><a href="#">ログイン</a></p>

<!--
<p class="nofollow">まずはフォローしましょう！</p>
<div class="adsection">
	<img src="" width="50%" alt="" />
  <span>タケシのニビジム</span>
  <img src="" width="50%" alt="" />
  <span>タケシのニビジム</span>
  <img src="" width="50%" alt="" />
  <span>タケシのニビジム</span>
  <img src="" width="50%" alt="" />
  <span>タケシのニビジム</span>
</div>
-->

</div>
