<div id="wrapper">

<div class="top_parent">
  <div class="top_child">
    <h1 class="top_title">HandOutへようこそ！</h1>
    <a href="#"><button class="button--large--cta top_btn1" style="width: 95%; margin: 0 auto 11px auto;">新規登録</button></a>
    <a href="#"><button class="button--large--cta top_btn2" style="width: 95%; margin: 0 auto 39px auto;">ログイン</button></a>
    <p class="top_company"><a href="#">企業の方はこちら</a></p>
  </div>
</div>

</div>
