<div id="wrapper">

<!--
<%= render partial: "header" %>
-->

<span><a href="#">新規登録</a></span>
<span><a href="#">ログイン</a></span>

<!--
<p class="nofollow">まずはフォローしましょう！</p>
<div class="adsection">
	<img src="" width="50%" alt="" />
  <span>タケシのニビジム</span>
  <img src="" width="50%" alt="" />
  <span>タケシのニビジム</span>
  <img src="" width="50%" alt="" />
  <span>タケシのニビジム</span>
  <img src="" width="50%" alt="" />
  <span>タケシのニビジム</span>
</div>
<%= render partial: "footer" %>
-->

</div>
